/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background: #0e0e0e; /* Old browsers */
background: -moz-linear-gradient(top,  #0e0e0e 40%, #7d7e7d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#0e0e0e), color-stop(100%,#7d7e7d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0e0e0e 40%,#7d7e7d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0e0e0e 40%,#7d7e7d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0e0e0e 40%,#7d7e7d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0e0e0e 40%,#7d7e7d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */

    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:36px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-shadow: #999 2px 2px 4px;
    color: #FFF500;
}

.box {
	
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 20px #000000;
-webkit-box-shadow: 0px 0px 20px #000000;
box-shadow: #f0ff66 0px 0px 30px 8px;
background-color: #ffffff;
width: auto;
height: auto;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

.box:active {
	background-color: #f56e8b; 
}

.fake-active { /* bubblehead added */
    background-color: #f56e8b; 
}

.speech-bubble{
	border-radius:50%;
	background-image:linear-gradient(#ff8000,#ff9500,#ffaa00);
	position:relative;
	content: 'hey hey hey';
}

.speech-bubble:before{
	
	content: '';
	display: block;
	width:20px;
	height:20px;
	border-radius: 50%;
	position: absolute;
	background-image:linear-gradient(#ff8000,#ff9500,#ffaa00);
	bottom: -3px;
	
}

.speech-bubble:after{
	
	content: '';
	display:block;
	width=14px;
	height=14px;
	border-radius: 50%;
	position: absolute;
	background-image: linear-gradient(#ff8000,#ff9500,#ffaa00);
	bottom: -20px;
	left: 20px;
	
}


p {
	
	font-size:24px;
	font-weight:normal;
	margin 10px;
	padding: 25px;
	overflow:visible;
	padding:25px;
	text-shadow: #999 2px 2px 4px;
	color: #6997d3;
	width:auto;
    text-align: center; /* Bubblehead Added */
	
}

.button-group{ /* Bubblehead Added */
    width: auto;
    margin: 0 auto;
    text-align: center;
}

#datePicker{ /* Bubblehead Added */
    margin: 0 auto;
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
