/* Put your custom CSS here */
.ui-icon-trafficlightGreen {
	background-image: url("../img/icon-green.png");
}

.ui-icon-trafficlightRed {
	background-image: url("../img/icon-red.png");
}
.ui-icon-trafficlightYellow {
	background-image: url("../img/icon-yellow.png");
}